hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}
.p{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    }
.bt{
      margin-right: 200px;
      background-color: black;
      color:white;
      border-radius: 5px;
      height: 40px;
      width: 70px;
}
  
  