.password-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    background:url(../../components/assets/background.png)
    no-repeat;
    background-position: 10px center;
    background-color: gray;
    background-size: 100%;
    background-position: center;
  
    .logo-bg {
      position: absolute;
      top: 50px;
      left: 50px;
    }
  
    .form-container {
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 400px;
  
      .title {
        margin-bottom: 20px;
        color: #333;
      }
  
      .input-group {
        margin-bottom: 20px;
  
        .label {
          display: block;
          margin-bottom: 5px;
        }
  
        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }
  
      .submit-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .btn {
          padding: 10px 20px;
          background: #007bff;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
  
          &:hover {
            background: #0056b3;
          }
        }
  
        .btn-link {
          color: #007bff;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  