//index.scss
.payment {
    max-width: 600px;
    margin: 40px auto;
    margin-top:200px;
    padding: 100px 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .customer-details {
      margin-bottom: 20px;
  
      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  
    .invoice {
      margin-bottom: 20px;
  
      h2 {
        margin-bottom: 10px;
      }
  
      .checkout {
        list-style: none;
        padding: 0;
  
        li {
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
          padding-bottom: 5px;
          border-bottom: 1px solid #eee;
  
          span {
            &:last-child {
              font-weight: bold;
            }
          }
        }
      }
  
      .total {
        text-align: right;
        font-size: 18px;
        font-weight: bold;
      }
    }
  
    .payment-method {
      text-align: center;
      
      button {
        padding: 10px 20px;
        background-color: #ffc439;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin-right: 40px;
        margin-left: 40px;
        &:hover {
          background-color: #fcb20e;
        }
      }
    }
  }
  