.showsearch {
    padding: 75px;
    padding-right: 50px;
    padding-top: 100px;
    width: 80%;
    .ant-card{
        margin-bottom: 20px;
    }
        .ant-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }

}
.filter-section {
    width: 500px;
    padding-top: 120px;
    padding-left: 100px;
    //background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-right: 20px;
  
    h2, h3 {
      margin-top: 0;
      font-size: 25px;
    }
  
    .buttonfilter {
      background-color: black;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #40a9ff;
      }
    }
  }
  .products-section {
    flex: 1;
    padding: 20px;
  }

  .Checkbox{
    font-size: 18px;
  }
  .row-column {
    display: flex;
    flex-direction: column;
  }