// .body{
//   background-color: #B4B6B6;
// }

.instruct {
    padding: 150px 60px;
    max-width: 1000px;
    margin: auto;
    font-family: Arial, sans-serif;
  }

  
  .step {
    margin-bottom: 20px;
  }
  
  .step img {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  h1{
    color: red;
    font-size: 40px;
    text-align: center;
  }

  h2{
    font-style: italic;
  }