.product-details {
    padding: 100px;
    display: flex;
    justify-content: center;
  
    .product-details-content {
      display: flex;
      max-width: 1200px;
      width: 100%;
      gap: 20px;
      align-items: flex-start;
    }
  
    .image-section {
      flex: 1;
      text-align: center;
    }
  
    .details-section {
      flex: 1;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 10px;
      padding: 30px;
      h1 {
        font-size: 24px;
        margin-bottom: 10px;
      }
  
      .price {
        display: flex;
        align-items: baseline;
        gap: 10px;
  
        .discounted-price {
          font-size: 24px;
          color: red;
        }
  
        .original-price {
          font-size: 18px;
          text-decoration: line-through;
          color: gray;
        }
      }
  
      .attributes {
        margin-top: 20px;

        .attribute-row {
          display: flex;
          //justify-content: center;
          margin-bottom: 10px;
  
          p {
            font-size: 16px;
            margin: 0;
            flex: 1;
          }
  
          span {
            font-size: 16px;
            flex: 1;
            text-align: right;
          }
        }
      }
  
      .add-to-cart-button {
        margin-top: 20px;
        background-color: black;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
  
        &:hover {
          background-color: #ff4d4f;
        }
      }
    }
  }
  
  