.delivery__header {
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color:#131629;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  .header-title {
    flex: 1;
    text-align: center;
    font-size: 24px;
  }
}

.delivery-header {
  .ant-layout-sider {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 70px; /* Adjusted to account for the fixed header */
  }


.site-layout {
  margin-left: 200px; /* Adjust based on the sider width */
  margin-top: 70px; /* Adjusted to account for the fixed header */
  transition: margin-left 0.3s ease;

  .ant-layout-content {
    padding: 24px;
    margin-top: 0;
  }

  .ant-layout-sider-collapsed + & {
    margin-left: 80px;
  }
}
}