
.change_password {
    max-width: 600px;
    margin: 40px auto;
    margin-top:200px;
    padding: 100px 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: aqua;
      }
}
